<% if @npis.length > 0 %>
  <% @npis.each do |npi| %>
    <tr>
      <td>
        <b><%= npi.number %></b><br />
        <%= npi.name %><br />
        <small class="text-muted"><%= npi.enumeration_type %></small>
        <dl class="d-sm-none mb-0">
          <dt>Addresses</dt>
          <dd class="mb-0"><%= list_data(npi.full_addresses, 'mb-0') %></dd>
          <dt>Taxonomies</dt>
          <dd class="mb-0"><%= list_data(list_taxonomies(npi.taxonomies), 'mb-0') %></dd>
        </dl>
      </td>
      <td class="d-none d-sm-table-cell">
        <%= list_data(npi.full_addresses, 'mb-0') %>
      </td>
      <td class="d-none d-sm-table-cell">
        <%= list_data(list_taxonomies(npi.taxonomies), 'mb-0') %>
      </td>
      <td class="align-middle">
        <%= button_tag 'show data', type: 'button', class: 'btn btn-outline-dark btn-sm',
                       data: { bs_toggle: 'modal',
                               bs_target: '#npiDataModal',
                               bs_number: npi.number,
                               bs_json: JSON.pretty_generate(npi.data) } %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="4">
      <div class="row justify-content-center">
        <div class="alert alert-warning mt-3 col-md-6 text-center" role="alert">
          No NPIs requested.
        </div>
      </div>
    </td>
  </tr>
<% end %>
