<% content_for_scripts 'npis' %>

<p id="notice"><%= notice %></p>

<h1 class="display-6">
  <small class="lead text-muted">CMT Solutions</small><br />
  National Provider Identifier (NPI)
</h1>

<%= render 'form', npi: Npi.new %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Number<br />
          Name<br />
          <small class="text-muted">Type</small>
        </th>
        <th>Addresses</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% if @npis.length > 0 %>
      <% @npis.each do |npi| %>
        <tr>
          <td>
            <b><%= npi.number %></b><br />
            <%= npi.name %><br />
            <small class="text-muted"><%= npi.type %></small>
          </td>
          <td><%= list_data npi.full_addresses %></td>
          <td class="align-middle">
            <%= button_tag 'Show data', type: 'button', class: 'btn btn-primary btn-sm',
                           data: { bs_toggle: 'modal',
                                   bs_target: '#npiDataModal',
                                   bs_number: npi.number,
                                   bs_json: JSON.pretty_generate(npi.data) } %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">
          <div class="row justify-content-center">
            <div class="alert alert-warning mt-3 col-md-6 text-center" role="alert">
              No NPIs searched.
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="npiDataModal" tabindex="-1"
     aria-labelledby="npiDataModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="npiDataModalLabel">NPI</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre class="mb-0"><code class="language-json" data-lang="json"></code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
